<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <div class="logo me-auto">
      <img src="assets/logo.svg">
      <a class="col-md-6 col-sm-12" href="index.html">
        <h6>{{appSettings.getName.split(' ')[0]}}</h6>
        <h5>{{appSettings.getName.split(' ')[1]}}</h5>
      </a>
    </div>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Nuestros cursos</a></li>
        <li><a class="nav-link scrollto" href="#services">Blogs</a></li>
        <li><a class="nav-link scrollto" href="#services">Proyectos</a></li>
        <li>
          <app-button [navigate]="['/login']" class="ms-3"
            [styleClass]="{padding: '8px 20px', 'letter-spacing': 'unset'}" color="#1e293b" type="primary"
            styled="outline">Empezar aprender</app-button>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle color-primary"></i>
    </nav>
  </div>
</header>