<app-header></app-header>
<section id="course-sumary" class="mt-lg-5 mt-sm-4 mt-5">
  <div class="container  mt-sm-4 mt-3">
    <div class="row">
      <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 mb-4">
        <h1>Programación orientado a objetos con JavaScript</h1>
        <p class="mt-4">Domina la programación orientada a objetos con JavaScript. Crea sitios web dinámicos y potentes
          con este curso especializado.</p>
        <div class="d-flex align-items-center mt-lg-5">
          <span class="ml-3 me-3">
            <i class="bi bi-bookmark"></i>Bootmark
          </span>
          <span class="ml-3 me-3">
            <i class="bi bi-person-check"></i>1220 Inscritos
          </span>
          <span class="ml-3 me-3">
            <i class="bi bi-star-fill course-points"></i>
            <i class="bi bi-star-fill course-points"></i>
            <i class="bi bi-star-half course-points"></i>
            <i class="bi bi-star course-points"></i>
            <i class="bi bi-star course-points"></i>
            (140)
          </span>
        </div>
      </div>

    </div>
  </div>
</section>
<section id="course-content" class="pt-0">
  <div class="container d-lg-flex">
    <div class="mb-4 mb-lg-0 col-lg-8 col-md-12 col-sm-12">
      <app-navtab [tabs]="tabDescription">
        <div  display-content class="tab-pane fade" id="description-tab-container">
          El Mejor y más completo curso de Python en todo Udemy - Universidad Python de Cero a Experto con  +71 hrs de video, +196,000 alumnos inscritos al curso. Este es el mejor curso para aprender Python de Cero a Experto incluyendo los Frameworks de Django y Flask, con una calificación promedio de 4.7 (de 5 estrellas), una de las mejores calificaciones en cursos de Python.
        </div>

      </app-navtab>
      <app-navtab [tabs]="tabContent">
        <div  display-content class="tab-pane fade" id="content-tab-container">
          <ul class="list-group">
            <app-list-item *ngFor="let module of contentModules">
              <h6>{{module.name}}</h6>
              <ul display-content class="list-group mt-3 mb-5">
                <ng-container *ngFor="let item of module.items">
                  <li class="list-group-item d-flex border-none px-0 justify-content-between">
                    <div><i class="bi bi-caret-right-square-fill"></i>
                      <span class="col-sm-10 col-md-10 ms-3">{{item.name}}</span>
                    </div>
                    <span class="col-md-1 col-xs-1 text-end">{{item.timeStamps}}s</span>
                  </li>
                </ng-container>
              </ul>
            </app-list-item>
          </ul>

        </div>

      </app-navtab>
     
    </div>

    <div class="col-lg-4 col-md-12 col-sm-12 ps-lg-4">
      <div class="card course-preview p-1">
        <img src="https://geeks-react.netlify.app/static/media/course-javascript.8afdeff32816e30422da.jpg"
          class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title mt-3 mb-3 fw-bold">S./ Es libre</h5>
          <app-button type="primary">Subscribirse</app-button>
        </div>
      </div>
      <div class="card mt-4">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="position-relative">
              <img src="https://geeks-react.netlify.app/static/media/avatar-1.d2fd9642fd3628734b27.jpg" alt=""
                class="rounded-circle avatar">
            </div>
            <div class="ms-4">
              <h4 class="mb-0">Jenny Wilson</h4>
              <p class="mb-1 fs-6">Front-end Developer, Designer</p><span class="fs-6"><span
                  class="text-warning">4.5</span><span class="mdi mdi-star text-warning me-2"></span>Instructor
                Rating</span>
            </div>
          </div>
          <div class="border-top mt-3 border-bottom mb-3 g-0 row">
            <div class="col">
              <div class="pe-1 ps-2 py-3">
                <h5 class="mb-0">11,604</h5><span>Students</span>
              </div>
            </div>
            <div class="border-start col">
              <div class="pe-1 ps-3 py-3">
                <h5 class="mb-0">32</h5><span>Courses</span>
              </div>
            </div>
            <div class="border-start col">
              <div class="pe-1 ps-3 py-3">
                <h5 class="mb-0">12,230</h5><span>Reviews</span>
              </div>
            </div>
          </div>
          <p>I am an Innovation designer focussing on UX/UI based in Berlin. As a creative resident at Figma explored
            the city of the future and how new technologies.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>