.icon-collapsed, .bi-caret-down-fill,
.bi-chevron-compact-down {
  text-align: right;
}

.collapse {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
  display: block;
}

.icon-collapsed::before {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.5);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
  transition: 0.2s ease-in-out
}

.bi-chevron-compact-down:not(.icon-collapsed)::before {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.5);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: 0.2s ease-in-out
}

.list-group-item {
  border-color: white;
  border-bottom-color: rgba(0, 0, 0, 0.125);
}
