.card {
    padding: 0px;
    border: 0;
    box-shadow: 0 1px 3px rgb(3 0 71 / 9%)
}

.card:hover {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
}

.card-title {
    font-size: 16px;
}