<section class="">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Novedades</h2>
        </div>
        <ul id="news-tab" class="nav nav-pills nav-pills-bg-soft justify-content-sm-center mb-4 px-3" id="course-pills-tab"
            role="tablist">
            <!-- Tab item -->
            <li class="nav-item me-2 me-sm-5" role="presentation">
                <button id="pill-1" class="nav-link mb-2 mb-md-0 active"  (click)="onClick($event)" data-bs-target="course-pills-tabs-1" type="button">Publicaciones
                </button>
            </li>
            <!-- Tab item -->
            <li class="nav-item me-2 me-sm-5" role="presentation">
                <button id="pill-2" class="nav-link mb-2 mb-md-0" (click)="onClick($event)" data-bs-target="course-pills-tabs-2" type="button">Demos</button>
            </li>
        </ul>
        <div  id="course-pills-tabs-1" class="faq-list">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <app-course-card></app-course-card>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <app-course-card></app-course-card>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <app-course-card></app-course-card>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <app-course-card></app-course-card>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <app-course-card></app-course-card>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <app-course-card></app-course-card>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <app-course-card></app-course-card>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <app-course-card></app-course-card>
                </div>
            </div>
        </div>
        <div  id="course-pills-tabs-2" class="faq-list">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <app-course-card></app-course-card>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <app-course-card></app-course-card>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <app-course-card></app-course-card>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <app-course-card></app-course-card>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <app-course-card></app-course-card>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <app-course-card></app-course-card>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <app-course-card></app-course-card>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <app-course-card></app-course-card>
                </div>
            </div>
        </div>
        

    </div>
</section>