:host {
    main {
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #login {
        width: 100%;
    }
    #login>.container {
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
        display: flex;
      }
  
      #login>.container>form {
        min-width: 18rem
      }
  
      main {
        width: 100%;
      }
  
      label,
      button {
        font-family: "Jost", sans-serif !important;
      }
  
      #login>.container>form>.row {
        margin-bottom: 15px;
      }
  
      #login>.container>form>.row>.form-group>label {
        margin-bottom: 8px;
      }
  
      #login>.container>form>.row>.form-group>button {
        width: 100%;
      }
  
      #login>.container>form>.row>.form-group>img {
        width: 3.5rem;
      }
  
      #login>.container>form>.row>.form-group {
        padding-bottom: 15px;
      }
  
      #login>div>form>div:nth-child(1) {
        padding: 0px !important;
        margin: 0px !important;
      }
  
        .social-button {
            display: flex;
        }      

        .social-button > button > svg {
            font-size: 30px;
        }
  
      input {
        padding-left: 20px !important
      }
}