@import "/src/assets/variables";

#hero {
  width: 100%;
  background-color: #f3f5fa;

  h1 {
    color: #37517e;
    line-height: 1;
  }
}

#hero img {
  max-width: 100%;
  height: auto;
}




.search-input:focus {
  box-shadow: none;
}

